@using AvibaWeb.ViewModels.KRSClientViewModels
@model OperationsViewModel

<table class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
    <thead>
        <tr>
            <th>Операция</th>
            <th>№ билета</th>
            <th>Фамилия Имя О</th>
            <th>Сег</th>
            <th>Цена</th>
            <th>Сбор</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Items.Any())
        {
            <tr><td colspan="8" class="text-center">Нет операций</td></tr>
        }
        else
        {
            foreach (var operation in Model.Items)
            {
            <tr>
                <td>
                    @Html.DisplayFor(o => operation.OperationTypeId)
                    @Html.HiddenFor(m => operation.OperationId, new { @class = "operationId" })
                </td>
                <td>
                    @operation.TicketNumber
                </td>
                <td>
                    @operation.PassengerName
                </td>
                <td>
                    @operation.SegCount
                </td>
                <td>
                    @operation.Payment
                </td>
                <td>
                    @operation.KRSAmount
                </td>
                <td>
                    @operation.Total
                </td>
                <td>
                    <button style="background-color: lightskyblue" class="printNoticeBtn"><i class="glyphicon glyphicon-list-alt"></i>Уведомление</button>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

<script>
    $(function () {
        var oTable = $('#dataTable').dataTable({
            "sPaginationType": "full_numbers",
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "oLanguage": {
                "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "oPaginate": {
                    "sFirst": 'Первая',
                    "sPrevious": 'Предыдущая',
                    "sNext": 'Следующая',
                    "sLast": 'Последняя'
                },
                "oaria": {
                    "ipaginate": {
                        "nfirst": 'Начало',
                        "nprevious": 'Previous',
                        "nnext": 'Next',
                        "nlast": 'Last'
                    }
                }
            }
        });
    });

    $(document).on('click',
        ".printNoticeBtn",
        function (e) {
            $.ajax({
                url: "/KRSClient/GetNotificationData",
                type: "POST",
                cache: false,
                contentType: "application/x-www-form-urlencoded",
                data: { operationId: $(this).closest('tr').find('.operationId').val() },
                success: function (result) {
                    const sendJsonData = {
                        uuid: result.uuid,
                        request: [{
                            type: 'nonFiscal',
                            items: [
                                {
                                    type: 'text',
                                    text: '*********************************************',
                                    alignment: 'center'
                                },
                                {
                                    type: 'text',
                                    text: 'КВИТАНЦИЯ РАЗНЫХ СБОРОВ',
                                    alignment: 'center'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'center'
                                },
                                {
                                    type: 'text',
                                    text: 'ИП Грибенник Анастасия Витальевна',
                                    alignment: 'center'
                                },
                                {
                                    type: 'text',
                                    text: 'г. Белгород, пр-т Богдана Хмельницкого, д.166',
                                    alignment: 'center'
                                },
                                {
                                    type: 'text',
                                    text: '*********************************************',
                                    alignment: 'center'
                                },
                                //{
                                //    type: 'text',
                                //    text: '',
                                //    alignment: 'left'
                                //},
                                //{
                                //    type: 'text',
                                //    text: result.operationDateTime,
                                //    alignment: 'left'
                                //},
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: result.ticketNumber,
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: result.passengerName,
                                    alignment: 'right'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'С условиями изменения и расторжения договоров перевозки, нормами',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'провоза багажа, стоимостью за заключение договоров перевозки',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'ознакомлен(а) и согласен(а). Дата вылета, маршрут следования,',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: `паспортные данные, контактный номер телефона ${ result.phone }`,
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'проверены и верны',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'Подпись __________________________________________',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: 'Фамилия И.О.',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: '__________________________________________________',
                                    alignment: 'left'
                                },
                                {
                                    type: 'text',
                                    text: '',
                                    alignment: 'left'
                                }]
                        }]
                    };

                    //console.log(sendJsonData);

                    $.ajax({
                        url: "http://192.168.0.11:16732/api/v2/requests",
                        type: "POST",
                        cache: false,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(sendJsonData),
                        beforeSend: function (jqXHR, settings) {
                        },
                        success: function (result) {
                        },
                        error: function (error) {
                        }
                    });
                },
                error: function (error) {
                }
            });
        });
</script>
