@using AvibaWeb.ViewModels.BookingManagement
@model AtolOperationsViewModel

<style>
    .KRSTable .labelCol {
        width: auto;
    }

    .KRSTable .ticketServerCol {
        width: 120px;
    }

    .KRSTable .payCol {
        width: 80px;
    }

    .KRSTable .countCol {
        width: 80px;
    }

    .KRSTable .dataCol {
        width: 150px;
    }

    .KRSTable .amountCol {
        min-width: 100px;
        width: 150px;
    }
</style>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Багаж</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                    <tr>
                        <th class="ticketServerCol">ККТ</th>
                        <th class="amountCol">Сумма</th>
                        <th class="amountCol">Сборы</th>
                        <th class="labelCol">Чеки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LuggageItems)
                    {
                    <tr>
                        <td class="ticketServerCol">@item.AtolServerName</td>
                        <td class="amountCol">@item.AmountStr</td>
                        <td class="amountCol">@item.FeeAmountStr</td>
                        <td class="labelCol">@item.DocCountStr</td>
                    </tr>
                    }                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Билеты</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                    <tr>
                        <th class="ticketServerCol">ККТ</th>
                        <th class="amountCol">Сумма</th>
                        <th class="amountCol">Сборы</th>
                        <th class="payCol">Тип оплаты</th>
                        <th class="countCol">Чеки</th>
                        <th class="labelCol">Сегменты</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TicketItems)
                    {
                    <tr>
                        <td class="ticketServerCol">@item.AtolServerName</td>
                        <td class="amountCol">@item.AmountStr</td>
                        <td class="amountCol">@item.FeeAmountStr</td>
                        <td class="payCol">@item.PaymentType</td>
                        <td class="countCol">@item.DocCountStr</td>
                        <td class="labelCol">@item.SegCountStr</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Итог</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                    <tr>
                        <th class="ticketServerCol">ККТ</th>
                        <th class="amountCol">Сумма</th>
                        <th class="amountCol">Сборы</th>
                        <th class="amountCol">Итого</th>
                        <th class="labelCol">Чеки</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TotalItems)
                    {
                    <tr>
                        <td class="ticketServerCol">@item.AtolServerName</td>
                        <td class="amountCol">@item.AmountStr</td>
                        <td class="amountCol">@item.FeeAmountStr</td>
                        <td class="amountCol">@item.FullTotalStr</td>
                        <td class="labelCol">@item.DocCountStr</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function() {
    });
</script>