@using AvibaWeb.ViewModels.BookingManagement
@model KRSViewModel

<style>
    .KRSTable .labelCol {
        width: 200px;
    }
    .KRSTable .dataCol {
        width: 100px;
    }
</style>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-content">
            <span>Общий итог: @Model.FinalTotalStr</span>
            <br />
            <span>С учетом комиссии (1,85): @Model.FinalTotalCommStr</span>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Сборы нал</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                <tr>
                    <th class="labelCol"></th>
                    <th class="dataCol">КРС</th>
                    <th class="dataCol">Сегменты</th>
                    <th class="dataCol">Сумма</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="labelCol">Продажи</td>
                        <td class="dataCol">@Model.CashSale.KRSCountStr</td>
                        <td class="dataCol">@Model.CashSale.SegCountStr</td>
                        <td class="dataCol">@Model.CashSale.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Обмены</td>
                        <td class="dataCol">@Model.CashExchange.KRSCountStr</td>
                        <td class="dataCol">@Model.CashExchange.SegCountStr</td>
                        <td class="dataCol">@Model.CashExchange.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Возвраты</td>
                        <td class="dataCol">@Model.CashRefund.KRSCountStr</td>
                        <td class="dataCol">@Model.CashRefund.SegCountStr</td>
                        <td class="dataCol">@Model.CashRefund.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Вынужденные возвраты</td>
                        <td class="dataCol">@Model.CashForcedRefund.KRSCountStr</td>
                        <td class="dataCol">@Model.CashForcedRefund.SegCountStr</td>
                        <td class="dataCol">@Model.CashForcedRefund.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Доп.услуги</td>
                        <td class="dataCol">@Model.CashService.KRSCountStr</td>
                        <td class="dataCol">@Model.CashService.SegCountStr</td>
                        <td class="dataCol">@Model.CashService.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Багаж</td>
                        <td class="dataCol">@Model.CashLuggage.KRSCountStr</td>
                        <td class="dataCol">@Model.CashLuggage.SegCountStr</td>
                        <td class="dataCol">@Model.CashLuggage.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Аннулированные</td>
                        <td class="dataCol">@Model.CashCancel.KRSCountStr</td>
                        <td class="dataCol">@Model.CashCancel.SegCountStr</td>
                        <td class="dataCol">@Model.CashCancel.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol"><b>Итого</b></td>
                        <td class="dataCol"><b>@Model.CashTotal.KRSCountStr</b></td>
                        <td class="dataCol"><b>@Model.CashTotal.SegCountStr</b></td>
                        <td class="dataCol"><b>@Model.CashTotal.AmountStr</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Сборы ПК</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                <tr>
                    <th class="labelCol"></th>
                    <th class="dataCol">Сборы ПК</th>
                    <th class="dataCol">Сумма</th>
                    <th class="dataCol">С комиссией</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="labelCol">Продажи</td>
                    <td class="dataCol">@Model.PKSale.KRSCountStr</td>
                    <td class="dataCol">@Model.PKSale.AmountStr</td>
                    <td class="dataCol">@Model.PKSale.AmountCommStr</td>
                </tr>
                <tr>
                    <td class="labelCol">Обмены</td>
                    <td class="dataCol">@Model.PKExchange.KRSCountStr</td>
                    <td class="dataCol">@Model.PKExchange.AmountStr</td>
                    <td class="dataCol">@Model.PKExchange.AmountCommStr</td>
                </tr>
                <tr>
                    <td class="labelCol">Возвраты</td>
                    <td class="dataCol">@Model.PKRefund.KRSCountStr</td>
                    <td class="dataCol">@Model.PKRefund.AmountStr</td>
                    <td class="dataCol">@Model.PKRefund.AmountCommStr</td>
                </tr>
                <tr>
                    <td class="labelCol">Аннулированные</td>
                    <td class="dataCol">@Model.PKCancel.KRSCountStr</td>
                    <td class="dataCol">@Model.PKCancel.AmountStr</td>
                    <td class="dataCol">@Model.PKCancel.AmountCommStr</td>
                </tr>
                <tr>
                    <td class="labelCol"><b>Итого</b></td>
                    <td class="dataCol"><b>@Model.PKTotal.KRSCountStr</b></td>
                    <td class="dataCol"><b>@Model.PKTotal.AmountStr</b></td>
                    <td class="dataCol"><b>@Model.PKTotal.AmountCommStr</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Сборы ПК (фильтр)</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                    <tr>
                        <th class="labelCol"></th>
                        <th class="dataCol">Сборы ПК</th>
                        <th class="dataCol">Сумма</th>
                        <th class="dataCol">С комиссией</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="labelCol">Продажи</td>
                        <td class="dataCol">@Model.PKFilterSale.KRSCountStr</td>
                        <td class="dataCol">@Model.PKFilterSale.AmountStr</td>
                        <td class="dataCol">@Model.PKFilterSale.AmountCommStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Обмены</td>
                        <td class="dataCol">@Model.PKFilterExchange.KRSCountStr</td>
                        <td class="dataCol">@Model.PKFilterExchange.AmountStr</td>
                        <td class="dataCol">@Model.PKFilterExchange.AmountCommStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Возвраты</td>
                        <td class="dataCol">@Model.PKFilterRefund.KRSCountStr</td>
                        <td class="dataCol">@Model.PKFilterRefund.AmountStr</td>
                        <td class="dataCol">@Model.PKFilterRefund.AmountCommStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Аннулированные</td>
                        <td class="dataCol">@Model.PKFilterCancel.KRSCountStr</td>
                        <td class="dataCol">@Model.PKFilterCancel.AmountStr</td>
                        <td class="dataCol">@Model.PKFilterCancel.AmountCommStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol"><b>Итого</b></td>
                        <td class="dataCol"><b>@Model.PKFilterTotal.KRSCountStr</b></td>
                        <td class="dataCol"><b>@Model.PKFilterTotal.AmountStr</b></td>
                        <td class="dataCol"><b>@Model.PKFilterTotal.AmountCommStr</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box col-md-9">
    <div class="box-inner">
        <div class="box-header well" data-original-title="" style="overflow: hidden;">
            <h2>Сборы БН</h2>
        </div>
        <div class="box-content">
            <table class="table KRSTable">
                <thead>
                    <tr>
                        <th class="labelCol"></th>
                        <th class="dataCol">Сборы б/н</th>
                        <th class="dataCol">Сегменты</th>
                        <th class="dataCol">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="labelCol">Продажи</td>
                        <td class="dataCol">@Model.BNSale.KRSCountStr</td>
                        <td class="dataCol">@Model.BNSale.SegCountStr</td>
                        <td class="dataCol">@Model.BNSale.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Обмены</td>
                        <td class="dataCol">@Model.BNExchange.KRSCountStr</td>
                        <td class="dataCol">@Model.BNExchange.SegCountStr</td>
                        <td class="dataCol">@Model.BNExchange.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Возвраты</td>
                        <td class="dataCol">@Model.BNRefund.KRSCountStr</td>
                        <td class="dataCol">@Model.BNRefund.SegCountStr</td>
                        <td class="dataCol">@Model.BNRefund.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol">Вынужденные возвраты</td>
                        <td class="dataCol">@Model.BNForcedRefund.KRSCountStr</td>
                        <td class="dataCol">@Model.BNForcedRefund.SegCountStr</td>
                        <td class="dataCol">@Model.BNForcedRefund.AmountStr</td>
                    </tr>
                    <tr>
                        <td class="labelCol"><b>Итого</b></td>
                        <td class="dataCol"><b>@Model.BNTotal.KRSCountStr</b></td>
                        <td class="dataCol"><b>@Model.BNTotal.SegCountStr</b></td>
                        <td class="dataCol"><b>@Model.BNTotal.AmountStr</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
