@using AvibaWeb.ViewModels.BookingManagement
@model SalesViewModel

<div class="box col-md-10">
    <div class="box-inner">
        <div class="box-content">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Сегменты</th>
                    <th>Сумма (нал)</th>
                    <th>Сумма (пк)</th>
                    <th>Сумма (бн)</th>
                    <th>Общая сумма</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Продажи</td>
                    <td>@Model.AirSale.SegCountStr</td>
                    <td>@Model.AirSale.AmountCashStr</td>
                    <td>@Model.AirSale.AmountPKStr</td>
                    <td>@Model.AirSale.AmountBNStr</td>
                    <td>@Model.AirSale.Total</td>
                </tr>
                <tr>
                    <td>Штрафы</td>
                    <td>@Model.AirPenalty.SegCountStr</td>
                    <td>@Model.AirPenalty.AmountCashStr</td>
                    <td>@Model.AirPenalty.AmountPKStr</td>
                    <td>@Model.AirPenalty.AmountBNStr</td>
                    <td>@Model.AirPenalty.Total</td>
                </tr>
                <tr>
                    <td>Добровольные обмены</td>
                    <td>@Model.AirExchange.SegCountStr</td>
                    <td>@Model.AirExchange.AmountCashStr</td>
                    <td>@Model.AirExchange.AmountPKStr</td>
                    <td>@Model.AirExchange.AmountBNStr</td>
                    <td>@Model.AirExchange.Total</td>
                </tr>
                <tr>
                    <td>Добровольные возвраты</td>
                    <td>@Model.AirRefund.SegCountStr</td>
                    <td>@Model.AirRefund.AmountCashStr</td>
                    <td>@Model.AirRefund.AmountPKStr</td>
                    <td>@Model.AirRefund.AmountBNStr</td>
                    <td>@Model.AirRefund.Total</td>
                </tr>
                <tr>
                    <td>Вынужденные обмены</td>
                    <td>@Model.AirForcedExchange.SegCountStr</td>
                    <td>@Model.AirForcedExchange.AmountCashStr</td>
                    <td>@Model.AirForcedExchange.AmountPKStr</td>
                    <td>@Model.AirForcedExchange.AmountBNStr</td>
                    <td>@Model.AirForcedExchange.Total</td>
                </tr>
                <tr>
                    <td>Вынужденные возвраты</td>
                    <td>@Model.AirForcedRefund.SegCountStr</td>
                    <td>@Model.AirForcedRefund.AmountCashStr</td>
                    <td>@Model.AirForcedRefund.AmountPKStr</td>
                    <td>@Model.AirForcedRefund.AmountBNStr</td>
                    <td>@Model.AirForcedRefund.Total</td>
                </tr>
                <tr>
                    <td><b>Итого</b></td>
                    <td><b>@Model.AirTotal.SegCountStr</b></td>
                    <td><b>@Model.AirTotal.AmountCashStr</b></td>
                    <td><b>@Model.AirTotal.AmountPKStr</b></td>
                    <td><b>@Model.AirTotal.AmountBNStr</b></td>
                    <td><b>@Model.AirTotal.Total</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Продажи ж/д</b></td>
                    <td><b>@Model.RailSale.SegCountStr</b></td>
                    <td><b>@Model.RailSale.AmountCashStr</b></td>
                    <td><b>@Model.RailSale.AmountPKStr</b></td>
                    <td><b>@Model.RailSale.AmountBNStr</b></td>
                    <td><b>@Model.RailSale.Total</b></td>
                </tr>
                <tr>
                    <td><b>Возвраты ж/д</b></td>
                    <td><b>@Model.RailRefund.SegCountStr</b></td>
                    <td><b>@Model.RailRefund.AmountCashStr</b></td>
                    <td><b>@Model.RailRefund.AmountPKStr</b></td>
                    <td><b>@Model.RailRefund.AmountBNStr</b></td>
                    <td><b>@Model.RailRefund.Total</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>Общий итог</b></td>
                    <td><b>@Model.FinalTotal.SegCountStr</b></td>
                    <td><b>@Model.FinalTotal.AmountCashStr</b></td>
                    <td><b>@Model.FinalTotal.AmountPKStr</b></td>
                    <td><b>@Model.FinalTotal.AmountBNStr</b></td>
                    <td><b>@Model.FinalTotal.Total</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>