@using AvibaWeb.ViewModels.AdminViewModels
@model AvibaWeb.ViewModels.AdminViewModels.DeskGroupViewModel
@{
    ViewBag.Title = "Создать подразделение";
}
    <div class="box col-md-10">
    <div class="box-inner" style="margin-top:-10px;">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Создать подразделение</h2>
    </div>
    <div class="box-content">

@*using (Ajax.BeginForm("CreateDeskGroup", "Admin", null, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "form-horizontal", role = "form" }))
{*@
<form asp-controller="Admin" asp-action="CreateDeskGroup" data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Desks, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(i => i.DeskIds, Model.Desks,
                new { id="deskSelect", @class = "form-control" })
        </div>
    </div>
	<script type="text/javascript">
		$('#deskSelect').multiSelect()
	</script>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Создать" />
            <a href=""></a>
            <a asp-action="DeskGroups" asp-controller="Admin"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
               class="btn btn-danger">Отмена</a>
            @*Ajax.ActionLink("Отмена", "DeskGroups", null, new AjaxOptions { UpdateTargetId = "results" }, new { @class = "btn btn-default" })*@
        </div>
    </div>
</form>
@*}*@
</div></div></div>