@using System.Linq
@using AvibaWeb.DomainModels
@model IQueryable<Organization>

<div class="box col-md-10">
    <div class="box-inner" style="">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Организации</h2>
        </div>
        <div class="box-content">
            <div class="alert" style="text-align:right;">
                <a asp-action="CreateOrganization" class="btn btn-success"
                   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results">
                    <i class="glyphicon glyphicon-plus icon-white"></i>
                    Создать
                </a>
            </div>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                    <tr>
                        <th>Организации</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @if (!Model.Any())
                    {
                        <tr><td colspan="3" class="text-center">Нет организаций</td></tr>
                    }
                    else
                    {
                        foreach (var org in Model)
                        {
                            <tr>
                                <td>
                                    <b>@org.Description</b>
                                    @if (org.IsActive)
                                    {
                                        <span class="label-success label label-default">Активна</span>
                                    }
                                    else
                                    {
                                        <span class="label-default label label-danger">Не активна</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="EditOrganization" asp-route-id="@org.OrganizationId" class="btn btn-info"
                                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                        Изменить
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    
                                    
                                        @foreach (var account in org.Accounts)
                                        {
<div class="box-inner box-content">
                                            <div class="row">
                                                <div class="col-md-6">@account.Description <b>(@account.BankName)</b></div>
                                                <div class="col-md-6 text-right"><a asp-action="EditFinancialAccount" asp-controller="Admin" asp-route-id="@account.FinancialAccountId"
                                                   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results"
                                                   class="btn btn-setting btn-info">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a></div>
                                            </div>
                                                
                                                <div>@account.Balance</div>
                                                
                                            
</div>
                                        }

                                        
                                        
                                </td>
                                <td>
                                    <a asp-action="AddFinancialAccount" asp-controller="Admin" asp-route-id="@org.OrganizationId"
                                               data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results"
                                               class="btn btn-success btn-sm">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                Добавить счет
                                            </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>
