@using System.Linq
@using AvibaWeb.DomainModels
@model IQueryable<AvibaWeb.DomainModels.AppUser>

@{
    
    ViewBag.Title = "Пользователи";
}

</div>
    <div class="box col-md-10">
    <div class="" style="">
	@if (User.IsInRole("Administrators"))
	{				
	<a class="btn btn-success" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("CreateUser","Admin")>
                <i class="glyphicon glyphicon-plus icon-white"></i>
                Создать
            </a>
	}
	</div>

	         @if (Model.Count() == 0)
        {
		<div class="row">
            <div class="col-md-12 text-center">Нет пользователей</div>
		</div>
        }
        else
        {
            foreach (var user in Model)
            {
			<div class="box col-md-6">
				<div class="box-inner" style="">
					<div class="box-header well" data-original-title="" style="overflow: hidden">
					@if( @user.IsActive )
						{
							<h2 class="green"><i class="glyphicon glyphicon-user"></i> @user.Name</h2>
						}
						else
						{
							<h2 class="red"><i class="glyphicon glyphicon-user"></i> @user.Name</h2>
						}
						<div class="text-right box-icon">
						@if (User.IsInRole("Administrators"))
						{
						<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" href=@Url.Action("EditUser","Admin", new{id = user.Id}) class="btn btn-setting btn-round btn-default"><i
                                class="glyphicon glyphicon-pencil"></i></a>
						}
						
						</div></div>
					
			<div class="box-content">
				
                    @if (User.IsInRole("Administrators"))
					{				
					<strong>Логин: </strong><span style="overflow: hidden; text-overflow: ellipsis;">@user.UserName</span>
					<br>
					}
					<strong>Должность: </strong>@user.Position<br>
					<strong>Телефон: </strong>@user.PhoneNumber
	
                </div>
                </div></div>
            }
        }
	
    
    </div>
   

