@using AvibaWeb.ViewModels.CollectionViewModels
@model CollectionDatatableViewModel

@{
    ViewBag.Title = "Входящие";
}
<div class="row">
    <!-- CONTENT START -->
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Входящие инкассации</h2>
            </div>
            <table style="font-size:11px" class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Поставщик</th>
                        <th>Касса</th>
                        <th>Сумма</th>
                        <th>Тип оплаты</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Items.Any())
                    {
                        <tr>
                            <td colspan="6" class="text-center">Нет операций</td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var collection in Model.Items)
                        {
                            <tr>
                                <td>
                                    <span id="myId">@collection.IssuedDateTime</span>
                                </td>
                                <td>
                                    <span>@collection.ProviderName</span>
                                    <br />
                                    <span><i style="background-color: #E1F896;">@collection.Comment</i></span>
                                </td>

                                <td>
                                    <span><b>@collection.DeskName</b></span>
                                </td>
                                <td>
                                    <span><b>@collection.Amount</b></span>
                                </td>
                                <td>
                                    @switch (collection.PaymentType)
                                    {
                                        case AvibaWeb.DomainModels.PaymentTypes.Cash:
                                            <span>Наличные</span>
                                            break;

                                        case AvibaWeb.DomainModels.PaymentTypes.Cashless:
                                            <span>Безналичный расчет</span>
                                            break;
                                    }
                                </td>
                                <td style="width: 180px;">
                                    @Html.HiddenFor(m => collection.CollectionId, new { @class = "collectionId" })
                                    <a asp-action="AcceptCollection" asp-controller="Collection" asp-route-id="@collection.CollectionId"
                                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" data-ajax-success="updateBalance" data-ajax-method="POST"
                                       class="btn btn-success btn-sm" style="font-size:11px">Принять</a>

                                    <a asp-action="RejectCollection" asp-controller="Collection" asp-route-id="@collection.CollectionId"
                                       data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results" data-ajax-success="updateBalance" data-ajax-method="POST"
                                       class="btn btn-danger btn-sm" style="font-size:11px">Отклонить</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        var oTable = $('#dataTable').dataTable({
            "iDisplayLength": 100,
            "aLengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "все"]],
            "bStateSave": false,
            "sPaginationType": "full_numbers",
            "bSort": false,
            "aaSorting": [[0, "desc"]],
            "columnDefs": [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            "oLanguage": {
                "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "oPaginate": {
                    "sFirst": 'Первая',
                    "sPrevious": 'Предыдущая',
                    "sNext": 'Следующая',
                    "sLast": 'Последняя'
                },
                "oaria": {
                    "ipaginate": {
                        "nfirst": 'Начало',
                        "nprevious": 'Previous',
                        "nnext": 'Next',
                        "nlast": 'Last'
                    }
                }
            }
        });
    });
</script>