@using AvibaWeb.ViewModels.ManagementAccountingViewModels
@model SummaryBlockViewModel

<div class="col-md-6"><span class="blue">Счета:</span></div>
<div class="col-md-6"><span class="blue pull-right">@Model.OrganizationBalanceStr</span></div>
<div class="col-md-6"><span class="blue">Корп:</span></div>
<div class="col-md-6"><span class="blue pull-right">@Model.CorpNegativeBalanceStr</span></div>
<div class="col-md-6"><span class="blue">Негодяи:</span></div>
<div class="col-md-6"><span class="blue pull-right">@Model.TransitTotalStr</span></div>
<div class="col-md-6"><span class="blue">Взаиморасчет:</span></div>
<div class="col-md-6"><span class="blue pull-right">@Model.ProvidersTotalStr</span></div>
<div class="col-md-6"><b class="yellow">Итого безнал:</b></div>
<div class="col-md-6"><b class="yellow pull-right">@Model.FinalTotal</b></div>
<div class="col-md-6"><b class="yellow">Итого нал:</b></div>
<div class="col-md-6"><b class="yellow pull-right">@Model.CashTotal</b></div>