@using AvibaWeb.ViewModels.CollectionViewModels
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Common
@using AvibaWeb.ViewModels.ManagementViewModels
@using AvibaWeb.DomainModels
@model IPagedList<KRSCancelRequestViewModel>

<div class="row">
    <!-- CONTENT START -->
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>Запросы на аннуляцию КРС</h2>
            </div>
            <div class="box-content">
                @if (!Model.Any())
                {
                    <tr><td colspan="4" class="text-center">Нет запросов</td></tr>
                }
                else
                {
                    foreach (var krs in Model)
                    {
                    <div class="row">
                        <div class="col-md-1">
                            @Html.DisplayFor(k => krs.Status)<br>
                            @krs.DealDateTime</div>
                        <div class="col-md-3">
                            @krs.CashierName<br>
                            @krs.Desk
                        </div>

                        <div class="col-md-3">
                            @krs.BSONumber <br>
                            <b>@krs.PassengerName</b><br>
                            @krs.Route
                            </div>

                        <div class="col-md-3">
                            Стоимость билета: @krs.Payment<br>
                            <b>Стоимость КРС: @krs.KRSAmount</b><br>
                            <i>@krs.Description</i>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            
                           @if (krs.Status != KRSCancelRequestOperation.KCROType.New)
                            {
                               <span style="background-color:rgb(198, 233, 164)">
                                Заявку обаботал: 
                                @krs.ManagerName
                            </span>
                            } 

                            @switch (krs.Status)
                            {
                                case KRSCancelRequestOperation.KCROType.New:
                                    // новый
                                    break;

                                case KRSCancelRequestOperation.KCROType.Accepted:
                                    // принят
                                    break;

                                case KRSCancelRequestOperation.KCROType.Rejected:
                                    // отказ
                                    break;
                            }
                             

                        </div>
                    </div>
                        <div class="row">
                          <div class="col-md-5">
                            @if (krs.Status == KRSCancelRequestOperation.KCROType.New)
                                    {
                                <form style="display: inline-block;" asp-controller="Management" asp-action="AcceptKRSCancellation" asp-route-id="@krs.RequestId"
                                      data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
                                    <input id="btnAcceptCollection" type="submit" name="picture" class="btn btn-success btn-sm" value="Принять" />
                                </form>

                                <form style="display: inline-block;" asp-controller="Management" asp-action="RejectKRSCancellation" asp-route-id="@krs.RequestId"
                                      data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
                                    <input id="btnRejectCollection" type="submit" name="picture" class="btn btn-danger btn-sm" value="Отклонить" />
                                </form>
                            }
                        </div>  
                        </div>
                        
                    
                        <hr>
                    }
                }




                @Html.PagedListPager(Model, page => Url.Action("KRSCancelRequests", new { page }),
                    new Func<PagedListRenderOptionsBase>(() =>
                    {
                        var options = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                UpdateTargetId = "results"
                            });
                            options.MaximumPageNumbersToDisplay = 5;
                        return options;
                    })())
            </div>
        </div>
    </div>
</div>
