@using AvibaWeb.ViewModels.ReportViewModels
@model List<AccountOperationsViewModel>

<div class="box col-md-10">
    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive" id="dataTable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in Model)
            {
                if (operation.Amount < 0)
                {
                <tr class="danger">
                    <td>@operation.OperationDateTime</td>
                    <td>@operation.OrderNumber</td>
                    <td>@operation.CounterpartyName</td>
                    <td>@operation.AmountStr</td>
                    <td>@operation.Description</td>
                </tr>
                }
                else
                {
                <tr class="success">
                    <td>@operation.OperationDateTime</td>
                    <td>@operation.OrderNumber</td>
                    <td>@operation.CounterpartyName</td>
                    <td>@operation.AmountStr</td>
                    <td>@operation.Description</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<script>
    onload = function () {
        $('#dataTable').dataTable({
            "bSort": false,
            "oLanguage": {                
                "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)"
            }
        });
    }

    onload();
</script>