@using AvibaWeb.ViewModels.ReportViewModels
@model OrganizationCashlessViewModel

    <div class="box col-md-10">
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="Всего" class="well top-block">
            <i class="glyphicon glyphicon-globe yellow"></i>

            <div></div>
            <div class="yellow">@Model.Balance</div>
            
        </span>
    </div>
    @if (User.IsInRole("Administrators"))
                        {
            <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="Всего" class="well top-block">
            <i class="glyphicon glyphicon-fire"></i>

            <div></div>
            <div class="">@Model.LoanGroupsBalance</div>
            
        </span>
    </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="Всего" class="well top-block">
            <span class="green">Всего</span>

            <div></div>
            <div class="green">@Model.Total</div>
            
        </span>
    </div>
                        }
    </div>
        @foreach (var org in Model.Organizations)
        {
            <div class="box col-md-6">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="" style="overflow: hidden;">
                        <h2><i class="glyphicon glyphicon-user"></i> @org.Name</h2>
                        <div class="text-right green">@org.Balance</div>
                    </div>
                    <div class="box-content">
                        @foreach (var accountBalance in org.AccountBalances)
                        {
                            <p><b>Счет: @accountBalance.Account</b> @accountBalance.BankName <i style="background:Moccasin;">(@accountBalance.LatestUpload)</i></p>
                            <p>Остаток: @accountBalance.Balance</p>

                            <!--
        <p>Приход: @accountBalance.Debit</p>
        <p>Расход: @accountBalance.Credit</p>
        <p>Баланс (конец дня): @accountBalance.BalanceEnd</p>
        -->
                        }
                    </div>
                </div>
            </div>
        }
    </div>
