@using AvibaWeb.ViewModels.ReportViewModels
@model List<OrganizationCashlessViewModel>

    <div class="box col-md-10">
        @foreach (var org in Model)
        {
            <div class="box col-md-6">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="" style="overflow: hidden;">
                        <h2><i class="glyphicon glyphicon-user"></i> @org.Name</h2>
                    </div>
                    <div class="box-content">
                        @foreach (var accountBalance in org.AccountBalances)
                        {
                            <p><b>Счет: @accountBalance.Account</b></p>
                            <p>Банк: @accountBalance.BankName</p>
                            <p>Баланс: @accountBalance.Balance</p>
                            <!--
        <p>Приход: @accountBalance.Debit</p>
        <p>Расход: @accountBalance.Credit</p>
        <p>Баланс (конец дня): @accountBalance.BalanceEnd</p>
        -->
                        }
                    </div>
                </div>
            </div>
        }
    </div>
