@using AvibaWeb.DomainModels
@using AvibaWeb.ViewModels.ReportViewModels
@model FinalSummaryViewModel

<div class="box col-md-10">
    <div class="row">
        <div class="col-md-12">
            Выбрать с:
            <div class="input-group date">
                <input type="text" id="min" name="min" class="form-control" autocomplete="off">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            по:
            <div class="input-group date">
                <input type="text" id="max" name="max" class="form-control" autocomplete="off">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <button id="showResults" class="btn btn-primary">Показать</button>
        </div>

        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2></h2>
                </div>
                <div class="box-content">
                    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Доход</th>
                                <th>Расход</th>
                                <th>Итог</th>
                                <th></th>
                                <th>Продажи</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Items.Any())
                            {
                            <tr>
                                <td colspan="6" class="text-center">Нет результатов</td>
                                <td style="display: none;"></td>
                                <td style="display: none;"></td>
                                <td style="display: none;"></td>
                                <td style="display: none;"></td>
                                <td style="display: none;"></td>
                            </tr>
                            }
                            else
                            {
                                foreach (var item in Model.Items)
                                {
                            <tr>
                                <td class="text-center">
                                    <div style="min-height: 32px;">@item.Name</div>
                                </td>
                                <td>
                                    @item.IncomeAmountStr
                                </td>
                                <td>
                                    @item.ExpenditureAmountStr
                                </td>
                                <td>
                                    @item.TotalAmountStr
                                </td>
                                <td>
                                </td>
                                <td>
                                    @item.SalesAmountStr
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var oTable = $('#dataTable').dataTable({
                    "sPaginationType": "full_numbers",
            "bSort": false,
            "bPaginate": false,
            "bInfo": false,
            "bFilter": false,
            "oLanguage": {
                        "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "oPaginate": {
                            "sFirst":    'Первая',
                    "sPrevious": 'Предыдущая',
                    "sNext":     'Следующая',
                    "sLast":     'Последняя'
                },
                "oaria": {
                            "ipaginate": {
                                "nfirst":    'Начало',
                        "nprevious": 'Previous',
                        "nnext":     'Next',
                        "nlast":     'Last'
                    }
                        }
                    }
                });

        $(".input-group.date").datepicker({
            autoclose: true,
            language: 'ru'
        });
        $("#min").datepicker({
            autoclose: true,
        });
        $("#max").datepicker({
            autoclose: true,
        });

        $("#min").datepicker('setDate','@Model.FromDate');
        $("#max").datepicker('setDate','@Model.ToDate');
    });

    $("#showResults").click(function (e) {
        const sendJsonData = {
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        e.preventDefault();
        $.ajax({
            url: "/Report/FinalSummary",
            type: "GET",
            cache: false,
            data: sendJsonData,
            success: function (result) {
                $("#results").html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
