@using AvibaWeb.Infrastructure
@using AvibaWeb.ViewModels.ReportViewModels
@model AvibaWeb.ViewModels.ReportViewModels.OnlineInfoModel

<div class="box col-md-10">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="Всего" class="well top-block">
            <i class="glyphicon glyphicon-globe yellow"></i>

            <div></div>
            <div class="yellow">@Html.DisplayFor(c => Model.TotalBalanceStr)</div>
            
        </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="В офисе и у инкассаторов" class="well top-block">
            <i class="glyphicon glyphicon-home yellow"></i><i class="yellow"> + </i><i class="glyphicon glyphicon-user yellow"></i>

            <div></div>
            <div class="yellow">@Html.DisplayFor(c => Model.OfficeCollectorsTotalInfo)</div>
            
        </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="В офисе" class="well top-block">
            <i class="glyphicon glyphicon-home blue"></i>

            <div></div>
            <div class="blue">@Html.DisplayFor(c => Model.OfficeBalanceStr)</div>
            
        </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
        <span data-toggle="tooltip" title="В кассах" class="well top-block">
            <i class="glyphicon glyphicon-shopping-cart blue"></i>

            <div></div>
            <div class="blue">@Html.DisplayFor(c => Model.DeskBalanceStr)</div>
            
        </span>
    </div>
    </div>
    <!--
    <div class="row">
        
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Сводка</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6"><h5><b>Всего</b></h5></div>
                        <div class="col-md-6"><h5><b>@Html.DisplayFor(c => Model.TotalBalanceStr)</b></h5></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><h5>Кассы</h5></div>
                        <div class="col-md-6"><h5>@Html.DisplayFor(c => Model.DeskBalanceStr)</h5></div>
                    </div>
                    <div class="box-inner">                   
                     <div class="box-content">
                    <div class="row">
                        <div class="col-md-6"><h5><b>Сумма</b></h5></div>
                        <div class="col-md-6"><h5><b>@Html.DisplayFor(c => Model.OfficeCollectorsTotalInfo)</b></h5></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><h5>Офис</h5></div>
                        <div class="col-md-6"><h5>@Html.DisplayFor(c => Model.OfficeBalanceStr)</h5></div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6"><h5>Инкассаторы</h5></div>
                        <div class="col-md-6"><h5>@Html.DisplayFor(c => Model.CollectorsTotalInfo)</h5></div>
                    </div>
                    </div></div>
                    
                    @*<div class="row">
                        <div class="col-md-6"><h5>На обмене</h5></div>
                        <div class="col-md-6"><h5>@Html.DisplayFor(c => Model.ExchangeTotalInfo)</h5></div>
                    </div>*@
                </div>
            </div>
        </div></div>
        -->
        <!-- CONTENT START -->
		<div class="row">
        <div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Кассы АВИБА</h2>
                </div>
                <div class="box-content">
					<div class="row">
						<div class="col-md-6">
							<h5><b>Всего</b></h5>
						</div>
						<div class="col-md-6">
							<h5><b>@Html.DisplayFor(c => Model.AvibaTotalInfo)</b></h5>
						</div>
					</div>
                    @foreach (var info in Model.AvibaBalanceInfo)
                    {
					<div class="row">
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.Name)</h5>
						</div>
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.BalanceStr)</h5>
						</div>
					</div>
                    }
                </div>
            </div>
        </div>
		
		
        <!-- CONTENT START -->
        <div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Кассы АВИА-ТУР</h2>
                </div>
                <div class="box-content">
					<div class="row">
						<div class="col-md-6">
							<h5><b>Всего</b></h5>
						</div>
						<div class="col-md-6">
							<h5><b>@Html.DisplayFor(c => Model.AviaTourTotalInfo)</b></h5>
						</div>
					</div>
					@foreach (var info in Model.AviaTourBalanceInfo)
                    {
					<div class="row">
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.Name)</h5>
						</div>
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.BalanceStr)</h5>
						</div>
					</div>
                    }
                </div>
            </div>
        </div></div>
    
    <div class="row">
        <!-- CONTENT START -->
        <div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Инкассаторы</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6"><h5><b>Всего</b></h5></div>
                        <div class="col-md-6"><h5><b>@Html.DisplayFor(c => Model.CollectorsTotalInfo)</b></h5></div>
                    </div>
                    @foreach (var info in Model.CollectorsBalanceInfo)
                    {
					<div class="row">
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.Name)</h5>
						</div>
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.BalanceStr)</h5>
						</div>
					</div>
                    }
                </div>
            </div>
        </div>


        <!-- CONTENT START -->
        @*<div class="box col-md-6">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Обмен</h2>
                </div>
                <div class="box-content">
                    <div class="row">
                        <div class="col-md-6"><h5><b>Всего</b></h5></div>
                        <div class="col-md-6"><h5><b>@Html.DisplayFor(c => Model.ExchangeTotalInfo)</b></h5></div>
                    </div>
                    @foreach (var info in Model.ExchangeBalanceInfo)
                    {
					<div class="row">
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.Name)</h5>
						</div>
						<div class="col-md-6">
							<h5>@Html.DisplayFor(c => info.BalanceStr)</h5>
						</div>
					</div>
                    }
                </div>
            </div>
        </div>*@
    </div>
</div>