@using AvibaWeb.ViewModels.CorpClientViewModels
@model CreateDocumentViewModel

<div class="box col-md-10">
    <div class="box-inner" style="">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Редактировать договор</h2>
        </div>
        <div class="box-content">
            @Html.AntiForgeryToken()

            <input id="corpITN" type="hidden" value="@Model.ITN" />
            <input id="editDocumentId" type="hidden" value="@Model.Document.DocumentId" />
            <div class="row">

                <div class="col-md-10">
                    <label for="selectPayee">Организация:</label>
                    <select data-placeholder="Выбрать организацию" id="selectPayee" data-rel="chosen">
                        <option value=""></option>
                        <optgroup label="Организации">
                            @foreach (var org in Model.Organizations)
                            {
                                <option>@org</option>
                            }
                        </optgroup>
                    </select>
                    <input id="editOrgName" type="hidden" value="@Model.Document.OrganizationName" />
                </div>
            </div>
            <br>
            <div class="row">

                <div class="col-md-10">
                    <label for="doc">Номер договора:</label>
                    <input type="text" id="doc" value="@Model.Document.Doc" />
                    <label for="date">Дата:</label>
                    <input type="text" id="date" class="date-range-filter" value="@Model.Document.Date" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success addFeeItem"><i class="glyphicon glyphicon-plus"></i></button>
                    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="feeItemsTable">
                        <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>Сумма</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FeeItems)
                            {
                                <tr>
                                    <td>
                                        <input hidden class="itemId" value="@item.Id" />
                                        <input class="itemName" value="@item.Name" />
                                    </td>
                                    <td>
                                        <input class="itemFeeStr" value="@item.FeeStr" />
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm removeFeeItem"><i class="glyphicon glyphicon-remove"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-10">


                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success" id="createDocumentBtn">Сохранить</button>
                    <a asp-action="CorporatorDocuments" asp-controller="CorpClient" asp-route-id="@Model.ITN"
                       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
                       class="btn btn-danger">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #feeItemsTable input
    {
        width: 100%;
    }
</style>

<script>
    $(function () {
        $('[data-rel="chosen"],[rel="chosen"]').chosen({ width: "100%", search_contains: true });

        $("#date").datepicker();

        var editValue = $("#editOrgName").val();
        if (editValue) {
            $('#selectPayee').val(editValue).trigger('chosen:updated');
        }

        $('#feeItemsTable').dataTable({
            "sPaginationType": "full_numbers",
            "bPaginate": false,
            "bFilter": false,
            "bSort": false,
            "bInfo": false,
            "oLanguage": {
                "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "oPaginate": {
                    "sFirst": 'Первая',
                    "sPrevious": 'Предыдущая',
                    "sNext": 'Следующая',
                    "sLast": 'Последняя'
                },
                "oaria": {
                    "ipaginate": {
                        "nfirst": 'Начало',
                        "nprevious": 'Previous',
                        "nnext": 'Next',
                        "nlast": 'Last'
                    }
                }
            }
        });
    });

    $("#createDocumentBtn").click(function (e) {
        var feeItems = new Array();
        $("#feeItemsTable tbody tr").each(function () {
            const firstInput = $(this).find("input");
            if (firstInput[0] == null) return false;
            const item = {
                Id: firstInput[0].value,
                Name: firstInput[1].value,
                FeeStr: firstInput[2].value,
            };
            feeItems.push(item);
        });   

        const sendJsonData = {
            DocumentId: $('#editDocumentId').val(),
            ITN: $("#corpITN").val(),
            OrgName: $("#selectPayee").next().find("a.chosen-single span").first().html(),
            Document: $("#doc").val(),
            IssuedDateTime: moment($('#date').val(), "DD.MM.YYYY").toISOString(true),
            FeeItems: feeItems
        };

        e.preventDefault();
        $.ajax({
            url: "/CorpClient/EditCorporatorDocument",
            type: "POST",
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(sendJsonData),
            success: function (result) {
                $.ajax({
                    url: "/CorpClient/CorporatorDocuments",
                    type: "GET",
                    cache: false,
                    data: {
                        id: $('#corpITN').val()
                    },
                    success: function (r) {
                        $("#results").html(r);
                    },
                    error: function (err) {
                        console.log(err.message);
                    }
                });
            },
            error: function (error) {
                console.log(error.message);
            }
        });
    });
</script>