@using AvibaWeb.ViewModels.LoanExpenditureViewModels
@model CreateLoanExpenditureModel

<div class="box col-md-10">
    <div class="row">
        <!-- CONTENT START -->
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2>Создать операцию</h2>
                </div>
                <div class="box-content">
                    <form asp-controller="Expenditure" asp-action="CreateLoanExpenditure"
                          data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @Value = "", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Amount, new { @Value = "", @class = "form-control" })
                            </div>
                        </div>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Создать" />
                                <a asp-action="LoanExpenditures" asp-controller="Expenditure"
                                   data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#results"
                                   class="btn btn-default">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
