@using AvibaWeb.DomainModels
@using AvibaWeb.ViewModels.ExpenditureViewModels
@model ExpendituresViewModel

<div class="box col-md-12">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2>Оформленные расходные операции</h2>
        </div>
        <div class="col-md-12">
            Выбрать с: <input type="text" autocomplete="off" id="min" name="min" class="date-range-filter"> по: <input type="text" autocomplete="off" id="max" name="max" class="date-range-filter">
            <button id="showResults" class="btn btn-primary">Показать</button>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Комментарий</th>
                        <th>Сумма</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Items.Any())
                    {
                        <tr>
                            <td colspan="5" class="text-center">Нет операций</td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @item.IssuedDateTime
                                    <br>
                                    <span class="blue"><b>@item.DeskGroup</b></span>
                                    <br>
                                    <span class="green">@item.Type</span>
                                </td>
                                <td>
                                    @item.Name
                                    <br>
                                    <span class="blue"><b>@item.Object</b></span>
                                </td>
                                <td>
                                    <b>@item.Amount</b>
                                </td>
                                <td>
                                    @Html.DisplayFor(i => item.Status)
                                </td>
                                <td>
                                    @if (item.Status != ExpenditureOperation.EOType.Cancelled)
                                    {
                                        <form asp-controller="Expenditure" asp-action="CancelExpenditure" asp-route-id="@item.ExpenditureId" data-ajax-update="#results" data-ajax="true" data-ajax-method="POST">
                                            <input id="btnCancelExpenditure" type="image" name="picture" src="~/images/del.png" width="32" height="32" />
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
$(function () {
    var oTable = $('#dataTable').dataTable({
                "sPaginationType": "full_numbers",
        "bSort": false,
        "oLanguage": {
                    "sSearch": "Поиск:",
            "sLengthMenu": "Показать _MENU_ записей",
            "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
            "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
            "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
            "oPaginate": {
                        "sFirst":    'Первая',
                "sPrevious": 'Предыдущая',
                "sNext":     'Следующая',
                "sLast":     'Последняя'
            },
            "oaria": {
                        "ipaginate": {
                            "nfirst":    'Начало',
                    "nprevious": 'Previous',
                    "nnext":     'Next',
                    "nlast":     'Last'
                }
                    }
                }
    });

    $("#min").datepicker();
    $("#max").datepicker();

    $("#min").datepicker('setDate', '@Model.FromDate');
    $("#max").datepicker('setDate', '@Model.ToDate');
    });

    $("#showResults").click(function (e) {
        const sendJsonData = {
            fromDate: moment($('#min').val(), "DD.MM.YYYY").toISOString(true),
            toDate: moment($('#max').val(), "DD.MM.YYYY").toISOString(true)
        };

        e.preventDefault();
        $.ajax({
            url: "/Expenditure/IssuedExpenditures",
            type: "GET",
            cache: false,
            data: sendJsonData,
            success: function (result) {
                $("#results").html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>
