@using AvibaWeb.ViewModels.TransitViewModels
@model CreateCreditViewModel


<div class="box col-md-10">
    <div class="box-inner" style="">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-random"></i> Списать с транзитного счета </h2>
        </div>
        <div class="box-content">
            <form asp-controller="Transit" asp-action="CreateCredit" 
                data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#contentResults">
                @Html.HiddenFor(m => m.Credit.LoanGroupId)

                @Model.TransitBalance

                <div class="row">
                    @Html.LabelFor(m => m.Credit.AccountAmount, new {@class = "col-md-2 control-label"})
                    <div class="col-md-10">
                        <input asp-for="@Model.Credit.AccountAmount" class="form-control" value=""/>
                    </div>
                </div>
                @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="ОК"/>
                        <a asp-action="Index" asp-controller="Transit"
                           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                           class="btn btn-danger">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


