@using AvibaWeb.ViewModels.TransitViewModels
@model CreateDebitViewModel

<div class="box col-md-10">
    <div class="box-inner" style="margin-top:-10px;">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-random"></i>Зачислить на счет</h2>
        </div>
        <div class="box-content">
            <form asp-controller="Transit" asp-action="Debit"
                  data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#contentResults">
                @Html.HiddenFor(m => m.IsEditBalance)

                <div class="row">
                    @Html.LabelFor(m => m.Debit.Amount, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input asp-for="@Model.Debit.Amount" class="form-control input-numeral" value="" />
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(m => m.Debit.Comment, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input asp-for="@Model.Debit.Comment" class="form-control" value="" />
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="ОК" />
                        <a asp-action="Index" asp-controller="Transit"
                           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                           class="btn btn-danger">Отмена</a>
                    </div>
                </div>
            </form></div></div></div>

<script>
    $(function() {
        initCleave();
    });
</script>

