@using AvibaWeb.ViewModels.TransitViewModels
@using System.Globalization;
@model TransitAccountViewModel

<div class="box col-md-10">
    <div class="box col-md-3">

            <span data-toggle="tooltip" title="Всего" class="well top-block">
                <span class="yellow">На транзитном счету</span>

                <div></div>
                <div class="yellow">@Model.Balance</div>
                
            </span>
</div>
    <div class="box col-md-3 text-right">
        <a asp-action="CreateCredit" asp-controller="Transit"
                data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                class="btn btn-danger" data-ajax-success="installTransitValidation">
                <i class="glyphicon glyphicon-arrow-left"></i>
                Вернуть<br>в офис
            </a>
</div>


    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          
        </div>
    </div>
    <br>
    <div class="box-inner" style="margin-top:-10px;">
        <div class="box-header well" data-original-title="">
            <h2><i class="glyphicon glyphicon-user"></i> Группы</h2>
        </div>

        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                <thead>
                    <tr>
                        <th>Группа</th>
                        <th>Баланс</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>

                    @if (!Model.LoanGroups.Any())
                    {
                        <tr><td colspan="3" class="text-center">Нет групп</td></tr>
                    }
                    else
                    {
                        foreach (var group in Model.LoanGroups)
                        {
                            <tr>
                                <td>
                                    @group.Description
                                </td>
                                <td>
                                    @group.Balance.ToString("#,0.00", new Func<NumberFormatInfo>(() =>
                                            {
                                                var nfi = (NumberFormatInfo)CultureInfo.InvariantCulture.NumberFormat.Clone();
                                                nfi.NumberGroupSeparator = " ";
                                                return nfi;
                                            })())
                                </td>
                                <td>
                                    <a asp-action="CreateCredit" asp-controller="Transit" asp-route-id="@group.LoanGroupId"
                                    data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                                    class="btn btn-success">
                                        <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                        Пополнить с ТС
                                    </a>
                                    <a asp-action="CreateCreditAdd" asp-controller="Transit" asp-route-id="@group.LoanGroupId"
                                    data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                                    class="btn btn-success">
                                        <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                        Добавка
                                    </a>
                                    <a asp-action="IssuedCredits" asp-controller="Transit" asp-route-loanGroupId="@group.LoanGroupId"
                                    data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#contentResults"
                                    class="btn btn-primary">
                                        <i class="glyphicon glyphicon-list-alt"></i>
                                        Операции
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>