@using AvibaWeb.ViewModels.DataViewModels
@model CreateCounterpartyViewModel

<form asp-controller="Data" asp-action="CreateCounterparty"
      data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#results"
      data-ajax-begin="$('#dialog').modal('toggle');">
    <label>ИНН</label>
    <input asp-for="@Model.Counterparty.ITN" />
    <input type="button" id="findCounterparty" class="btn" value="Найти" />
    <label>Наименование</label>
    <input asp-for="@Model.Counterparty.Name" readonly />
    <label>Адрес</label>
    <input asp-for="@Model.Counterparty.Address" readonly />
    <label>КПП</label>
    <input asp-for="@Model.Counterparty.KPP" readonly />
    <label>ОГРН</label>
    <input asp-for="@Model.Counterparty.OGRN" readonly />
    <label>Имя</label>
    <input asp-for="@Model.Counterparty.ManagementName" readonly />
    <label>Должность</label>
    <input asp-for="@Model.Counterparty.ManagementPosition" readonly />

    <label asp-for="@Model.Counterparty.TypeId"></label>
    <select asp-for="@Model.Counterparty.TypeId" asp-items="@Model.CounterpartyTypes" class="form-control"></select>
    <input type="submit" class="btn btn-default" value="Сохранить" />
</form>

<script>
    $("#findCounterparty").click(function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Data/FindCounterparty",
            type: "GET",
            cache: false,
            data: { ITN: $("#Counterparty_ITN").val() },
            success: function (result) {
                $("#Counterparty_Name").val(result.name);
                $("#Counterparty_Address").val(result.address);
                $("#Counterparty_KPP").val(result.kpp);
                $("#Counterparty_OGRN").val(result.ogrn);
                $("#Counterparty_ManagementName").val(result.managementName);
                $("#Counterparty_ManagementPosition").val(result.managementPosition);
                console.log(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>