@using AvibaWeb.ViewModels.DataViewModels
@model IEnumerable<AvibaWeb.ViewModels.DataViewModels.ImportCashlessDataViewModel>

<div class="box col-md-4">
    <div class="box-inner">
        <div class="box-header well" data-original-title="">
            <h2>Выписка</h2>
        </div>
        <div class="box-content">
            @foreach (var org in Model)
            {
            <div class="row">
                <div class="col-md-6"><h5><b>Номер счета</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.AccountNumber</b></h5></div>
                <div class="col-md-6"><h5><b>Начальная дата</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.FromDate</b></h5></div>
                <div class="col-md-6"><h5><b>Конечная дата</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.ToDate</b></h5></div>
                <div class="col-md-6"><h5><b>Входящий остаток</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.OpeningBalance</b></h5></div>
                <div class="col-md-6"><h5><b>Исходящий остаток</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.ClosingBalance</b></h5></div>
                <div class="col-md-6"><h5><b>Обороты по дебету</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.DebitTurnover</b></h5></div>
                <div class="col-md-6"><h5><b>Обороты по кредиту</b></h5></div>
                <div class="col-md-6"><h5><b>@org.CashlessDestination.CreditTurnover</b></h5></div>
                
                @foreach (var dataRecord in org.CashlessRecords)
                {
                    // здесь списком отображаются операции, поля данных:

                    // Тип
                    // @dataRecord.Type

                    // Дата операции
                    // @dataRecord.Date

                    // Номер
                    // @dataRecord.Number

                    // Вид операции
                    // @dataRecord.OperationType

                    // Сумма
                    // @dataRecord.Amount

                    // Валюта
                    // @dataRecord.Currency

                    // Основание платежа
                    // @dataRecord.PaymentDescription

                    // БИК Банка получателя
                    // @dataRecord.PayeeBankBIC

                    // Счет получателя
                    // @dataRecord.PayeeAccount

                    // Наименование получателя
                    // @dataRecord.PayeeName

                    // Наименование банка получателя
                    // @dataRecord.PayeeBankName

                    // ИНН получателя
                    // @dataRecord.PayeeITN

                    // Флаг на наличие записи контрагента в БД
                    // @dataRecord.IsKnownCounterparty
                }
            </div>
            }
        </div>
    </div>
</div>

