@using AvibaWeb.ViewModels.CorpReceiptViewModels
@using static AvibaWeb.DomainModels.CorporatorReceipt
@model List<ReceiptsViewModel>

<table class="table table-striped table-bordered bootstrap-datatable datatable" id="dataTable">
    <thead>
        <tr>
            <th>№ счета</th>
            <th>Дата</th>
            <th>Дата оформления</th>
            <th>Поставщик</th>
            <th>Плательщик</th>
            <th>Сумма</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <tr><td colspan="4" class="text-center">Нет счетов</td></tr>
    }
    else
    {
        foreach (var receipt in Model)
        {
        <tr>
            <td>
                <span id="myId">@receipt.ReceiptNumber</span>
            </td>
            <td>
                <span>@receipt.CreatedDate</span>
            </td>
            <td>
                <span>@receipt.IssuedDateTime</span>
            </td>
            <td>
                <span>@receipt.PayeeOrgName @receipt.PayeeBankName</span>
            </td>
            <td>
                <span>@receipt.PayerOrgName</span>
            </td>
            <td style="width: 150px;">
                <span>@receipt.TotalStr</span>
            </td>
            <td style="width: 15px;">
                @switch (receipt.Status)
                {
                    case CRPaymentStatus.Unpaid:

                        <button class="btn btn-danger btn-xs" data-toggle="confirmation"
                                data-btn-ok-label="Продолжить" data-btn-ok-class="btn-success"
                                data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                                data-btn-cancel-label="Отмена" data-btn-cancel-class="btn-danger"
                                data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                                data-title="Очистить" data-content="Очистить счет?">
                            Очистить<span class="glyphicon glyphicon-remove"></span>
                        </button>
                        break;

                    case CRPaymentStatus.Partial:
                        <span class="label-warning label label-default">Оплачен частично</span>
                        break;

                    case CRPaymentStatus.Paid:
                        <span class="label-success label label-default">Оплачен</span>
                        <span>@receipt.PaidDateTime</span>
                        break;
                }
            </td>
            <td style="width: 300px;">
                @Html.HiddenFor(m => receipt.ReceiptId)
                <a asp-action="CreateReceipt" asp-controller="CorpReceipt" asp-route-id="@receipt.ReceiptId"
                   data-ajax="true" data-ajax-mode="replace" data-ajax-update="#results"
                   class="btn btn-sm btn-success"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="/" class="btn btn-info btn-sm createReceiptPDF">Счет PDF</a>
                <a href="/" class="btn btn-info btn-sm createReportPDF">Акт PDF</a>
                <a href="/" class="btn btn-warning btn-sm createReceiptPDF2">Счет -> <span class="glyphicon glyphicon-envelope"></span></a>

            </td>
        </tr>
        }
                }
    </tbody>
</table>

<script>
    $(function () {
        var oTable = $('#dataTable').dataTable({
                    "sPaginationType": "full_numbers",
            "bSort": false,
            "oLanguage": {
                        "sSearch": "Поиск:",
                "sLengthMenu": "Показать _MENU_ записей",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "oPaginate": {
                            "sFirst":    'Первая',
                    "sPrevious": 'Предыдущая',
                    "sNext":     'Следующая',
                    "sLast":     'Последняя'
                },
                "oaria": {
                            "ipaginate": {
                                "nfirst":    'Начало',
                        "nprevious": 'Previous',
                        "nnext":     'Next',
                        "nlast":     'Last'
                    }
                        }
                    }
                });
    });

    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        onConfirm: function (e) {
            var button = $(this);

            $.ajax({
                url: "/CorpReceipt/ClearReceipt",
                type: "POST",
                cache: false,
                data: { id: $(button.parent().siblings()[5]).children()[0].value },
                success: function (result) {
                    button.parent().siblings()[2].innerHTML = "";
                    button.parent().siblings()[3].innerHTML = "";
                    button.parent().siblings()[4].innerHTML = "";
                    button.parent().siblings()[5].innerHTML = `<span>0.00</span>`;
                },
                error: function (error) {
                    console.log(error.message);
                }
            });
        }
    });
</script>